movie.{$DOMAIN} {
    reverse_proxy http://jellyfin:8096
}

torrent.{$DOMAIN} {
    reverse_proxy http://qbittorrent:8080
}

speed.{$DOMAIN} {
    reverse_proxy http://speedtest:3000
}

home.{$DOMAIN} {
    reverse_proxy http://homarr:7575
}

radarr.{$DOMAIN} {
    reverse_proxy http://radarr:7575
}

sonarr.{$DOMAIN} {
    reverse_proxy http://sonarr:8989
}

lidarr.{$DOMAIN} {
    reverse_proxy http://lidarr:8686
}

prowlarr.{$DOMAIN} {
    reverse_proxy http://prowlarr:9696
}

photos.{$DOMAIN} {
    reverse_proxy http://immich-server:2283
}

navidrome.{$DOMAIN} {
    reverse_proxy http://navidrome:4533
}

feishin.{$DOMAIN} {
    reverse_proxy http://feishin:4533
}
